#
# The SyncDET configuration file.
#
# An actor must have at least the following attributes.
# More custom attributes can be defined and be retrieved by case modules
# through case.local_actor()
#
# rsh:         the command to remotely login to the actor. we will use the
#              following format to invoke commands on the remote actor:
#                  rsh login@address <command_line>
#              Hence, user must ensure that the actor can be logged on without
#              providing a password, and the above format can work properly.
#              Use 'rsh login@address ls -l' to test if it works.
#
# login:       the login name of the actor
#
# root:        SyncDET working directory on the actor
#
# address:     the address or host name of the actor
#

# the IP address or host name of the controller
controllerAddress = "192.168.1.102"

# the dictionary definition of the actors
d_actors = [
           { 'address': '192.168.1.103' },
           { 'address': '192.168.1.108' },
           ]

# default configuration for each actor
actorDefaults = {
           'rsh':     'ssh',
           'login':   'aerofstest',
           'root':    '~/syncdet',
           }

# fill in the defaults
for actor in d_actors:
    for attr in actorDefaults.keys():
        if attr not in actor.keys(): actor[attr] = actorDefaults[attr]

